#wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#list {
  width: max-content;
}

.list-item {
  list-style-type: none;
  font-family: monospace;
  font-size: x-large;
  border-bottom-style: inset;
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px;
}

.list-item:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(221, 100, 100);
}

.text-icon {
  border-radius: 50%;
  background-color: antiquewhite;
  width: fit-content;
  padding: 15px;
  margin-right: 130px;
  height: fit-content;
  color: rgb(0, 0, 0);
}

.category {
  width: max-content;
  background-color: purple;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: small;
  margin-top: 30px;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  margin-bottom: 5px;
}

.name {
  margin-top: 8px;
}


.category-wrapper {
  display: flex;
  flex-direction: row;
}